@import './base/normalize';
@import './base/reset';
@import './base/body';
@import './components/container';
@import './components/searchbar';
@import './components/navigation';
@import './pages/movie-item';
@import './components/button-search';
@import './pages/home-view';
@import './pages/cast';
@import './components/loader';
